/* Style global pour le composant */

.search-page{
  background-color: #dcdcdc;
  height: 100vh;
  overflow-y: auto;
}



/* Styles pour les champs du formulaire */
.search-page-form{
  display: flex ;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
}

.search-page form div {
  margin-bottom: 15px;
}

.search-page form label {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  color: #555;
}

.search-page form input[type="text"],
.search-page form input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-page form input:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

/* Styles pour le bouton */
.search-page form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-page form button:hover {
  background-color: #45a049;
}


.table-book {
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  }
  
  /* Style du tableau */
  table {
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #fff;
  }
  
  /* Style pour l'en-tête du tableau */
  thead {
    background-color: #4caf50;
    color: white;
    text-align: left;
  }
  
  thead th {
    padding: 10px;
  }
  
  /* Style pour le corps du tableau */
  tbody tr {
    border-bottom: 1px solid #ff0000;
    transition: background-color 0.2s ease-in-out;
  }
  
  tbody tr:hover {
    background-color: #efefef;
  }
  
  tbody td {
    padding: 10px;
    text-align: left;
  }
  
  /* Style pour les cellules */
  th, td {
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
  }
  
  /* Style pour le message "No books available" */
  p {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 3em;
    color: #4a8e3d;
    text-align: center;
    margin-top: 20px;
  }

  @media (max-width: 700px) {
    .search-page{
      width: 100vw;
      overflow-x: auto;
     }
     h2{
        font-size: 2em;
     }
  }