<div class="choice-page">
    <h1>Que voulez-vous faire ?</h1>
    <h2>Vous n'avez qu'à cliquer!</h2>
    <div class="container">
        <app-choices imgSrc="img/search.jpeg" title="Chercher un livre" description="Venez chercher un livre"></app-choices>
        <app-choices imgSrc="img/add.jpg" title="Ajouter un livre" description="Ajouter un livre à la bibliothèque"></app-choices>
        <app-choices imgSrc="img/visualisation.jpg" title="Mettre à jour un livre" description="Mettre à jour un livre de la bibliothèque"></app-choices>    
    </div>
</div>